.DS_Store
*.bak
*~
*.swp
.*.swp

# Executables and libraries
*.o
*.out
*.exe
*.EXE
*.msi
*.MSI
*.lo
*.slo
*.so
*.a
*.la
*.dmg
*.DMG
*.iso
*.ISO
*.img
*.IMG
core

# Archives
*.zip
*.tar
*.tgz
*.jar
*.class
*.log

# Image files
*.jpg
*.JPG
*.pdf
*.jpeg
*.JPEG
*.gif
*.GIF
*.png
*.PNG
*.tif
*.TIF
*.tiff
*.TIFF
